<ion-content>

  <img src="assets/maps.jpg" class="ion-padding" class="page-map " >
  <br><br><br><br><br>
  <ion-card>
    <ion-item >
      <ion-icon class="wifi" slot="start" name="cash"></ion-icon>
      <ion-label>$5000</ion-label>
    </ion-item>
<br>
    <ion-item >
      <ion-icon class="walk" slot="start" name="card"></ion-icon>
      <ion-label>*** 3975</ion-label>
    </ion-item>
 <br>
    <ion-item>
     <ion-icon class="wifi" slot="start" name="person-circle"></ion-icon>
     <ion-label>carlos</ion-label>
     <ion-label class="info">Informatica</ion-label>
   </ion-item>
  </ion-card>
<br><br><br>
  <ion-button  color="dark" expand="full" routerLink="/inicio-conductor" >
    Cancelar viaje
  </ion-button>

</ion-content>