<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-item href="../inicioviaje">
      <ion-icon class="wifi" slot="start" name="person-circle"></ion-icon>
      <ion-label>Juan</ion-label>
      <ion-label class="info">Construccion</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
<br>
    <ion-item href="../inicioviaje">
      <ion-icon class="wifi" slot="start" name="person-circle"></ion-icon>
      <ion-label>carlos</ion-label>
      <ion-label class="info">Informatica</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
</ion-item>
 <br>
    <ion-item href="../inicioviaje">
     <ion-icon class="wifi" slot="start" name="person-circle"></ion-icon>
     <ion-label>Valeria</ion-label>
     <ion-label class="info">Mecanica</ion-label>
     <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
</ion-item>
<br>
   <ion-item href="../inicioviaje">
     <ion-icon class="wifi" slot="start" name="person-circle"></ion-icon>
     <ion-label>Ema</ion-label>
     <ion-label class="info">Construccion</ion-label>
     <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
</ion-item>
<br>
   <ion-item href="../inicioviaje">
     <ion-icon class="wifi" slot="start" name="person-circle"></ion-icon>
     <ion-label>David</ion-label>
     <ion-label class="info">Informatica</ion-label>
     <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
</ion-item>
  </ion-card>


</ion-content>